services:
  server:
    build:
      context: .
      target: final
    ports:
      - 3000:${PORT}
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ADDRESS=0.0.0.0:${PORT}
      - RUST_LOG=debug
      - DB_NAME=${DB_NAME}
      - DB_PASS=${DB_PASS}
      - PG_HOST=${DB_HOST}
      - PG_PORT=${DB_PORT}
      - PG_USER=${DB_USER}
  db:
    image: postgres
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PASSWORD=${DB_PASS}
    expose:
      - 5432
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db-data:
